// Mixins in here

.buttonMixin(@bg-color, @padding-v) {
    background-color: @bg-color;
    color: white;
    border: grey solid 0.5px;
    border-radius: 15px;
    font-size: 2rem;
    text-align: center;
    padding: @padding-v 0;
}